@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 100;
    font-weight: 400;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/fonts/Vazirmatn-Bold.woff2) format("woff2");
  }
}
